{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="/static/css/boostrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->

    <title>About Us</title>

  </head>

  <body>

    <link rel="stylesheet" href="/static/css/main.css">

<section class="about" id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 p-3">
				{% for img in img %}
				<img src="{{ img.img.url }}" alt="" class="img-fluid" />
				{% endfor %}
			</div>
			<div class="col-lg-6">
				<div class="about-right">
					<h4 class="main">Education And Career</h4>
					<p>A hospital is a health care institution providing patient treatment with specialized health science and <br>
						auxiliary healthcare staff and medical equipment. urgent health problems ranging from fire and accident victims,<br>
						A district hospital typically is the major health care facility in its region, with many beds for intensive <br>
						care and additional beds for who need long-term care. Specialized hospitals include trauma centers, <br>
						rehabilitation hospitals, children's hospitals, seniors' (geriatric) hospitals, and hospitals for dealing<br>
						with specific medical needs such as psychiatric treatment (see psychiatric hospital) and <br>
						certain disease categories. Specialized hospitals can help reduce health care costs compared<br>
						to general hospitals.Hospitals are classified as general, specialty, or <br>
						government depending on the sources of income received.</p>
					<div class="row mt-sm-5 mt-4 about-right-inner">

    </div>

</section>

<!-- //about -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>


  </body>
</html>
    {% endblock %}